{% if messages %}
    {% for message in messages %}
        <div class="alert alert-dismissible alert-{{ message.tags }}" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            {{ message|safe|escape }}
        </div>
    {% endfor %}
{% endif %}

<script>
    var closeButtons = document.querySelectorAll('.alert button.close');
    closeButtons.forEach(function (button) {
        button.addEventListener('click', function () {
            var alert = this.parentNode;
            alert.style.display = 'none';
        });
    });
</script>